.navbar {
    width: 100vw;
    height: 75px;
    padding: 30px 80px 20px 80px;
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    position: fixed;
}

.navbar span a {
    margin: 0px 40px;
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar .menuButton {
    display: none;
}

.navbarLeft {
    justify-content: flex-start;
    width: 50%;
}

.navbarRight {
    justify-content: flex-end;
    margin-left: auto;
}

/* MOBILE VIEW */
@media screen and (max-width: 600px){
    .navbar {
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: fixed;
    }
    .navbar .menuButton {
        display: block;
        color: var(--white);
        cursor: pointer;
        width: 30px;
        margin-left: 90%;
    }
    .navbar span a {
        margin: 0px;
        color: var(--white);
        font-size: 1.5rem;
        text-decoration: none;
    }
    .navbarLeft {
        justify-content: center;
        display: none;
        flex-direction: column;
        text-align: center;
        width: 25%;
        margin: 20px auto;
    }
    .navbarRight {
        display: none;
        justify-content: space-evenly;
        margin: 20px auto;
        width: 50%;
    }
}